<% include ../partials/header %>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<div class="list-group">
				<div class="list-group-item">
					<h4 class="list-group-item-heading">About Project</h4>
					<p><strong><%= portfolio.name %></strong></p>
					<p class="list-group-item-text"><%- portfolio.description%></p>
				</div>
				<div class="list-group-item">
					<h4 class="list-group-item-heading">Project Date</h4>
					<p><%= portfolio.projectdate.toLocaleDateString('en-US'); %></p>
				</div>
				<div class="list-group-item">
					<h4 class="list-group-item-heading">Coffee Consumed</h4>
					<p><% for (var i = 0; i < portfolio.coffee; i++) { %>
						<i class="fa fa-coffee"></i>
					<%}%></p>
					<small class="pull-right">Liters</small>
					<div class="clearfix"></div>
				</div>
				<div class="list-group-item">
					<h4 class="list-group-item-heading">Tags</h4>
					<p><%= portfolio.tags %></p>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="thumbnail thumnail--mod">
				<div class="portfolio--img">
					<img src="<%= portfolio.image %>" alt="" class="img-responsive--full">
				</div>
				<div class="caption-full caption-full--mod">
					<p class="text-center"><a class="btn btn-primary btn-lg" target="_blank" href="<%= portfolio.siteurl %>">Launch Site</a></p>
					<!-- <h4 class=""><a href="#"><%= portfolio.name %></a></h4>
					<p><%- portfolio.description%></p>
					<p>
						<em>Submitted By: <%= portfolio.author.username %></em>
					</p> -->
					<div class="clearfix"></div>
					<% if(currentUser && portfolio.author.id.equals(currentUser._id)){ %>
					<a href="/portfolios/<%= portfolio._id %>/edit" class="btn btn-warning">Update!</a>
					<form id="delete__case" action="/portfolios/<%= portfolio._id %>?_method=DELETE" method="POST">
						<input type="submit" value="Delete" class="btn btn-danger">
					</form>
					<% } %>
					
				</div>
				<div class="well">
					<div class="text-left">
						<p><a href="/portfolios/<%= portfolio.id %>/comments/new" class="btn btn-primary">Add new Comment</a></p>
					</div>
					<hr>
					<% portfolio.comments.forEach(function(comment){ %>
					<div class="row">
						<div class="col-md-12">
							<strong><%= comment.author.username %></strong>
							<span class="pull-right">10 days ago</span>
							<p><%= comment.text %></p>
							<% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
							<a href="/portfolios/<%= portfolio._id %>/comments/<%= comment._id %>/edit" class="btn btn-warning btn-xs">Edit!</a>

							<form id="delete__case" action="/portfolios/<%= portfolio._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
								<input type="submit" value="Delete" class="btn btn-danger btn-xs">
							</form>
							<% } %>
							<hr>
						</div>
					</div>
					<% })  %>
				</div>
			</div>
		</div>
	</div>
</div>

<% include ../partials/footer %>